name: Anchor Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: backpackapp/build:v0.30.1
    
    steps:
      - uses: actions/checkout@v4
          
      - name: Verify installations
        run: |
          solana --version
          anchor --version
          
      - name: Build
        run: anchor build
